---
---

<div class="cookie-banner">
  <div class="cookie-content">
    <p class="cookie-text">
      Acest site foloseste cookies pentru a-ti imbunatati experienta. Prin continuarea navigarii, esti de acord cu
      <a href="/politica-cookies/">Politica de Cookies</a>.
    </p>
    <div class="cookie-buttons">
      <button class="cookie-btn cookie-btn-decline">Refuz</button>
      <button class="cookie-btn cookie-btn-accept">Accept</button>
    </div>
  </div>
</div>
